<div class="container d-flex flex-column">
        <div class="d-flex w-100 justify-content-around mt-5">
            <div class="left d-flex flex-column w-50">
                <div id="carouselExampleControls w-75" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {{#each product.imgs as |img|}}
                            
                            <div {{#if img.img_path.[0]}}class="carousel-item active"{{else}}class="carousel-item"{{/if}}>
                            
                            <img src="/images/{{img.img_path}}" class="d-block w-100" alt="...">
                            </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="right d-flex flex-column w-25">
                <h1 class="mb-5">{{product.product_name}}</h1>
                <p class="mb-5">{{translation.Price}}:{{product.price}}</p> 
                <h5 class="">{{translation.Quantity}}</h5>
                <input class="number-select mb-5 form-control" type="number" min="0" onchange="checkTextbox(this)" id="quantity" value="0">
                <a href="#" class="addcart-btn btn btn-primary" id="addcartbtn" data-a="{{product.id}}" data-b="{{product.price}}" data-c="{{userID}}">{{translation.AddCart}}</a>
            </div>
        </div>
        <div class="bottom mt-5 px-5">
            <h1>{{translation.Description}}</h1>
            <p>{{product.product_desc}}</p>
        </div>

        <section class="reviews-section">
            <div class="card">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </section>

</div>
<script src="/js/forCart.js"></script>
